body{ background-color: #00BFFF;
}

*{
  margin: 0;
  padding: 0;

}
.container {
  width: 100vw;
  height: 12vh;
  background: #7B68EE;
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}

.menu ul li{
  list-style: none;
  margin: 0 20px;
  color: #4B0082;
  cursor: pointer;
}


.banner{
  margin: 0 100px;
  
}

.picture {
    width: 50%;
    float: left;
     margin: 0 10px;
}

.picture img {
    width: 70%;
    float: left;
}

.column{
  background: #483D8B;
  width: 30vw;
  height: 40vh;
  margin: 0 400px;

}

.info {
  position: relative;
  right: 120px;
  color: #C71585;
  font-family: monospace;
 
}

.extrainfo{

  position: relative;
  right: 120px;
  color: #C71585;
  font-family: cursive;
  padding-top: 50px;
}

